<%# The "application" layout is the default layout. It extends "base"  %>
<%# to include things like header, footer, and alerts that are common  %>
<%# to most (but not all) views.                                       %>

<%= render("shared/navbar") %>

<div class="container">

  <%= render("shared/flash") %>
  <%= render("shared/page_header") %>

  <%= yield %>

  <%= render("shared/footer") %>

</div>

<% parent_layout "base" %>
