<%% provide(:title, "Listing <%= plural_table_name %>") %>

<table class="table table-striped">
  <thead>
    <tr>
<% attributes.reject(&:password_digest?).each do |attribute| -%>
      <th><%= attribute.human_name %></th>
<% end -%>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
      <tr>
<% attributes.reject(&:password_digest?).each do |attribute| -%>
        <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
<% end -%>
        <td>
          <div class="btn-group">
            <%%= link_to <%= singular_table_name %>, :class => "btn btn-xs btn-default" do %>
              <%%= fa_icon("eye", :text => "Show") %>
            <%% end %>
            <%%= link_to edit_<%= singular_table_name %>_path(<%= singular_table_name %>), :class => "btn btn-xs btn-default" do %>
              <%%= fa_icon("pencil", :text => "Edit") %>
            <%% end %>
            <%%= link_to <%= singular_table_name %>, :class => "btn btn-xs btn-danger", :method => :delete, :data => { :confirm => "Are you sure you want to delete this <%= singular_table_name %>?" } do %>
              <%%= fa_icon("trash-o", :text => "Destroy") %>
            <%% end %>
          </div>
      </tr>
    <%% end %>
  </tbody>
</table>

<br>

<%%= link_to new_<%= singular_table_name %>_path, :class => "btn btn-default" do %>
  <%%= fa_icon("plus", :text => "New <%= human_name %>") %>
<%% end %>
